.wrapperClientes {
    display: flex;
    flex-direction: column;
    padding: 2em 5em;
    overflow: hidden;
    max-height: 100vh;
    max-width: 100vw;
}

.bodyClientes {
    --leftColumn: 10em;
    display: grid;
    grid-template-columns: var(--leftColumn) calc(100vw - var(--leftColumn) - 10em);
    grid-column-gap: 2em;

    &__ {
        &left {
            display: flex;
            flex-direction: column;
            max-height: calc(100vh - 10em);
        }

        &right {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            width: 1000px;

            max-height: calc(100vh - 10em);
            overflow: auto;
        }
    }
}