.atributosClientes {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    &__ {
        &items {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
    }
}

.instruction {
    font-size: 12px;
}