.container-fluid {
  margin-top: 60px;
}

.tab-content {
  padding: 10px;
  border: 1px solid lightgray;
}

.navbar {
  background-color: #293542 !important;
}

.navbar .nav-link {
  color:  white !important;
}

.nav-link.active {
  color: white !important;
  background-color: #17a2b8 !important;
}

.navbar-brand {
  color: white !important;
}
